<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All subscribers</h3>
          <p>Here you can mange your posts</p>
          <button class="btn btn-warning ml-2" routerLink="/">
            Back to dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subscriber of subscribers; let i = index">

              <td>{{ i + 1 }}</td>
              <td>
                {{ subscriber.data.name }}
              </td>
              <td>
                {{ subscriber.data.email }}
              </td>
              <td>
                <button
                  (click)="deleteSubscriber(subscriber.id)"
                  class="btn btn-sm btn-danger ml-2"
                >
                  Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

