<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-theme-primary">
        {{ formStatus }} Categories
      </h3>
      <p class="text-center mb-5">You can add new categories from here</p>
      <form
        #categoryForm="ngForm"
        (ngSubmit)="onSubmit(categoryForm)"
        class="form-inline text-center"
      >
        <div class="col-md-10">
          <input
            #newCategoryForm="ngModel"
            [(ngModel)]="editCategory.category"
            [ngClass]="{
              'is-invalid': newCategoryForm.touched && newCategoryForm.invalid
            }"
            class="form-control shadow-effect"
            name="category"
            placeholder="Add new categories"
            required
            type="text"
          />
          <div
            *ngIf="newCategoryForm.touched && newCategoryForm.invalid"
            class="alert alert-danger mt-1"
          >
            This field is required
          </div>
        </div>
        <div class="col-md-2">
          <button
            [disabled]="newCategoryForm.invalid"
            class="btn btn-block btn-info mb-2 btn-theme"
          >
            {{ formStatus }} category
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ category.data.category }}</td>
                <td>
                  <button
                    (click)="onEdit(category.data, category.id)"
                    class="btn btn-sm btn-warning"
                  >
                    Edit
                  </button>
                  <button
                    (click)="onDelete(category.id)"
                    class="btn btn-sm btn-danger ml-1"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
